{% extends 'base.html' %}

{% block content %}
<div class="auth-card">
    <h2>Регистрация</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}

        {% for field in form %}
        <div class="form-group">
            {{ field.label_tag }}
            {{ field }}
            {% if field.errors %}
                <small style="color: red">{{ field.errors|striptags }}</small>
            {% endif %}
        </div>
        {% endfor %}

        <button type="submit" class="btn">Зарегистрироваться</button>
    </form>
</div>
{% endblock %}